@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    background: linear-gradient(to right, #060b1f, #071a66);
}

h1 {
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: all 1s ease;
}

img:not(:hover) {
    transition: all 1s ease;
}